{{ define "content" }}
  <div class="sm:grid sm:grid-cols-4 mt-8">
    <nav class="col-start-4 border-blurple-300 border-l pl-8 mb-8">
      <p class="font-bold mb-2">Table of Contents</p>
      {{ range .Fragments.Headings }}
        <ul>
          {{ range .Headings }}
            <li>
              <a class="hover:text-blurple-600 hover:font-bold" href="#{{ .ID }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </nav>
    <article class="row-start-1 col-start-1 col-span-3 e-content max-w-prose mx-auto prose">
      {{ .Content }}
    </article>
  </div>
{{ end }}
