<footer class="border-t border-gray-200 pt-10 mt-10 text-gray-600">
  <div class="sm:flex sm:justify-between">
    <p class="sm:flex-0">
      <a class="hover:underline" href='https://joinmastodon.org'>Mastodon</a>
      ·
      <a class="hover:underline" href='https://github.com/mastodon/fediverse_discovery_providers'>View source</a>
      ·
      <a class="hover:underline" href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a>
      ·
      <a class="hover:underline" href='https://joinmastodon.org/imprint'>Imprint</a>
    </p>

    <p class="mt-4 sm:mt-0 sm:flex-0 sm:justify-end sm:flex sm:gap-x-4 sm:items-center">
      <a href="#top">⌃ Back to top</a>
    </p>
  </div>
</footer>
