<div id="top" class="w-full mb-12 bg-transparent hero flex flex-col items-center">
  <h1 class="text-6xl text-center font-bold tracking-tight text-blurple-900 z-10">
    Fediverse Discovery Providers
  </h1>

  <p class="mt-8 p-2 text-2xl text-center leading-8 text-gray-600 z-10 bg-white/90">
    Exploring decentralized search and discovery for the Fediverse
  </p>

  <p class="mt-4 p-2 text-lg text-center leading-8 text-gray-600 z-10 bg-white/90 w-auto">
    A <a class="text-red-700 font-bold" href="https://www.ngisearch.eu">NGI Search</a> project
    led by <a class="text-blurple-600 font-bold" href="https://joinmastodon.org">Mastodon gGmbH</a>
  </p>

  <div class="w-full h-36 -mt-24 hero-bg"></div>
</div>
