<div class="grid grid-cols-2 gap-8 mx-auto">
  <div class="flex flex-col items-center">
    <strong>Slides</strong>
    <a href="presentations/fediscovery_fosdem.pdf">
      <img src="images/fediscovery_slides_thumbnail.png" alt="FOSDEM Fediscovery Title Slide">
    </a>
    <small>Click image to download slides in PDF format</small>
  </div>
  <div class="flex flex-col items-center">
    <strong>Video</strong>
    <a href="https://video.fosdem.org/2025/ud2208/fosdem-2025-4531-fediscovery-improving-search-and-discovery-on-the-fediverse.av1.webm">
      <img src="images/fediscovery_video_thumbnail.png" alt="FOSDEM Fediscovery Video Screenshot">
    </a>
    <small>Click image to download video in .webm format. If this does not work click <a href="https://video.fosdem.org/2025/ud2208/fosdem-2025-4531-fediscovery-improving-search-and-discovery-on-the-fediverse.mp4">here</a> for an alternative (much larger) version in .mp4 format.</small>
  </div>
</div>
